[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.11"
